</head>
<body role="document">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
 <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Graph Generator</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="http://unminformatics.github.io/">UNM Informatics</a></li>
            <li><a href="http://fdisk.co/">Homepage</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="https://github.com/dcjones/Gadfly.jl">Gadfly</a></li>
                <li><a href="http://julialang.org">Julia Language</a></li>
                <li><a href="https://github.com/JuliaWeb/HttpServer.jl">Julia HTTPServer</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Source Code</li>
                <li><a href="https://github.com/rickpr/moocjulia">GitHub Sources<i class="fa fa-github"></i></a></li>
                <li><a href="https://github.com/rickpr">Other Projects</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
 <div class="container theme-showcase" role="main">
<div class="jumbotron">
<h1>Graph Generator</h1>
</div>
<div class="row">
<div class="col-md-6">
<table class="table">
  <thead>
    <tr>
      <th>X-Axis</th>
      <th>Y-Axis</th>
      <th>Color</th>
    </tr>
  </thead>
  <tbody>
<tr>
